.open-sans-text {
    font-size: var(--font-size-main);
    font-family: var(--font-family-main);
    color: var(--black);
    text-align: center;
    transition: .5s;
}

.open-sans-text--bold {
    font-family: var(--font-family-bold)
}

.open-sans-text--button {
    color: var(--color-button-text);
}