<html>

<head>
    <style>
        .link-button {
            text-decoration: none;
            padding: 25px 100px 25px 100px;
            height: 200px;
            background-color: aqua;
            color: blueviolet;
            cursor: pointer;
        }
    </style>
</head>


<body>
    <h1>Click the button to verify your account</h1>
    <a class="link-button" href={{link}}>
        Click me!
    </a>
</body>

</html>