.link-button {
    border: 1px solid black;
    border-radius: 15px;
    transition: .5s;
    width: 300px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    outline: none;
}

.link-button:focus {
    box-shadow: 0 0 0 2pt grey;
}

.link-button:hover {
    background-color: var(--black);
    --color-button-text: #ffffff;
}