.button {
    border: 1px solid black;
    border-radius: 15px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 70px;
    transition: .2s;
    outline: none;
}

.button:focus {
    box-shadow: 0 0 0 2pt grey;
}

.button:hover {
    background-color: var(--black);
    --color-button-text: #ffffff;
}

@media screen and (max-width: 767px) {}