:root {
    --font-family-main: 'OpenSans', 'Arial', 'sans-serif';
    --font-family-bold: 'OpenSans-Bold', 'Arial', 'sans-serif';
    --font-size-main: 30px;
    --black: #000000;
    --color-button-text: #000000;
}